html
  body
		form(method="POST", action="/api/user/create")
			p Name:
			input(type="text", name="name")
			br
			p Description:
			input(type="text", name="description")
			br
			p Picture:
			input(type="file", name="photoUrl")
			br
			p Contact Information:
			input(type="text", name="contact")
			input(type = "submit", value = "Start Learning")
