<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">

    <script src="jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
      var uid = "53cb24f947ba0000009b1e69";
      var offers = [];
      function load_offers() {
        $.get( "/api/offers/" + uid, function( data ) {
          offers = data;
          render_offer();
        });
      }
      function render_offer() {
        if (offers.length == 0) alert("no more flyers!");
        var offer = offers.pop();
        document.getElementById("picture").src = offer.user_photo;
        document.getElementById("description").innerHTML = offer.user_description;
        var yesno = document.getElementById("yesno");
        yesno.id.value = offer.id;
        yesno.uid.value = offer.user_id;
        document.getElementById("subject").innerHTML = offer.want;
      }
      function offer_submit() {
        var yesno = document.getElementById("yesno");
        var dataString = 'id='+yesno.id.value+'&uid='+yesno.uid.value;
        $.post(
          yesno.action,
          dataString,
          function() {
            
          }
        );
        render_offer();
      }
    </script>

  </head>
  <body onload="load_offers();">
    <div class="container">
      <div class="header pure-g">
        <div class="containerDiv watermark pure-u-1-5">Skill-Trade</div>
        <div class="pure-u-4-5">
          <ul id="menu">
            <li id="flyerfeed" onclick="window.location = 'index2.html';">Flyer Feed</li>
            <li id="newflyer" onclick="window.location = 'manageflyers.html';">Manage Flyers</li>
            <li id="matches" onclick="window.location = 'matches.html';">Matches</li>
          </ul>
        </div>
      </div>
      <div id="content">
        <div id="profile">
          <img id="picture" />
          <p id="description"></p>
        </div>
        <div id="flyer">
          <p id="subject"></p>
          <form id="yesno" action="/api/flyer/add-acceptance" method="POST">
            <input type="button" onclick="offer_submit();" name="yes" value="Yes"></input>
            <input type="button" onclick="render_offer();" name="no" value="No"></input>
            <input type="hidden" name="id"></input>
            <input type="hidden" name="uid"></input>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
