<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">
      var offers = [];
      function load_offers() {
        uid = window.location.substring(window.location.lastIndexOf('/') + 1);
        $.get( "/api/offers/" + uid, function( data ) {
          offers = data;
          render_offer();
        });
      }
      function render_offer() {
        if (offers.length == 0) alert("no more flyers!");
        var offer;
        do {
          offer = offers.pop();
        } while (offer.user_id == uid);
        document.getElementById("picture").src = offer.user_photo;
        document.getElementById("description").innerHTML = offer.user_description;
        document.getElementById("user_name").innerHTML = offer.user_name;
        var yesno = document.getElementById("yesno");
        yesno.id.value = offer.id;
        yesno.uid.value = uid;
        document.getElementById("subject").innerHTML = offer.want;
      }
      function offer_submit() {
        var yesno = document.getElementById("yesno");
        var dataString = 'id='+yesno.id.value+'&uid='+yesno.uid.value;
        $.post(
          yesno.action,
          dataString,
          function() {
            
          }
        );
        render_offer();
      }
    </script>

  </head>
  <body onload="load_offers();">
    <img href = 'images/logo.png'/>
    <div class="container">
      <div class="header pure-g">
        <img href = '/images/logo.png'/>
        <div class="containerDiv watermark pure-u-1-5"><img src = '/images/logo.png'/></div>
        <div class="pure-u-4-5">
          <!-- <ul id="menu">
            <li id="flyerfeed" onclick="window.location = 'index2.html';">Flyer Feed</li>
            <li id="newflyer" onclick="window.location = 'manageflyers.html';">Manage Flyers</li>
            <li id="matches" onclick="window.location = 'matches.html';">Matches</li>
          </ul> -->
        </div>
      </div>
      <div id="content">
        <div id="profile">
          <img class = "profile" id="picture" />
          <div class ="textbox">
            <span> Hi! I am 
            <span class = "decor" id="user_name"></span>. 
            <span> I want to <strong> learn</strong></span>
            <span class = "decor" id="subject"></span>.
          </div>
          <div class = "textbox2">
            <p >More about me:</p>
            <span class = "decor" id="description"></span>. 
          </div>
          <form id="yesno" action="/api/flyer/add-acceptance" method="POST">
            <img class = "btn" src = '/images/yes.png' onclick="render_offer();"/>
            <img class = "btn" src = '/images/no.png' onclick="render_offer();"/>
            <input type="hidden" name="id"></input>
            <input type="hidden" name="uid"></input>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
