<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      function loadskills(cb) {
        uid = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);
        $.get( "/api/flyers/" + uid, function( data ) {
          cb(data);
        });
      }
      function addflyer() {
        var form = document.getElementById("newflyerform");
        var dataString = 'want='+form.want.value+'&uid='+form.uid.value;
        $.post(
          "/api/flyer/create/" + uid,
          dataString,
          function() {
            
          }
        );
        fakedata.unshift(form.want.value);
        populateskilllist(fakedata);
      }
      function populateskilllist(skills) {
        var skilllist = document.getElementById("skilllist");
        skilllist.innerHTML = "";
        for (var i in skills) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.innerHTML = skills[i];
          tr.appendChild(td);
          // td = document.createElement("td");
          // td.innerHTML = "del";
          // tr.appendChild(td);
          skilllist.appendChild(tr);
        }
      }
    </script>
  </head>
  <body onload="loadskills(populateskilllist);">
    <div class="container">
      <!-- <div class="header pure-g">
        <div class="containerDiv watermark pure-u-1-5">Skill-Trade</div>
        <div class="pure-u-4-5">
          <ul id="menu">
            <li id="flyerfeed" onclick="window.location = 'index2.html';">Flyer Feed</li>
            <li id="newflyer" onclick="window.location = 'manageflyers.html';">Manage Flyers</li>
            <li id="matches" onclick="window.location = 'matches.html';">Matches</li>
          </ul>
        </div>
      </div> -->
      <div id="content">
        <form id="newflyerform" onsubmit="addflyer(); return false;">
          <input type="text" name="want" placeholder="What do you want to learn?"></input>
          <input type="hidden" name="uid"></input>
          <input type="submit" value="Add"></input>
        </form>
        <table>
          <thead>
            <tr>
              <td class = "decor">Skill</td>
              <!-- <td>Action</td> -->
            </tr>
          </thead>
          <tbody id="skilllist">

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
