<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <script src="jquery-1.11.1.min.js"></script>
    <script>
      var fakedata = ["CSS","Objective C", "Java", "Salsa"];
      function addflyer() {
        var form = document.getElementById("newflyerform");
        var dataString = 'want='+form.want.value+'&uid='+form.uid.value;
        $.post(
          form.action,
          dataString,
          function() {
            alert("worked!");
          }
        );
      }
      function populateskilllist(skills) {
        var skilllist = document.getElementById("skilllist");
        for (var i in skills) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          td.innerHTML = skills[i];
          tr.appendChild(td);
          td = document.createElement("td");
          td.innerHTML = "del";
          tr.appendChild(td);
          skilllist.appendChild(tr);
        }
      }
    </script>
  </head>
  <body onload="populateskilllist(fakedata);">
    <div id="container">
      <div id="header">
        <div id="watermark"></div>
        <select id="menu">
          <option value="flyerfeed">Flyer Feed</option>
          <option value="newflyer">New Flyer</option>
          <option value="matches">Matches</option>
        </select>
      </div>
      <div id="content">
        <form method="POST" action="/api/flyer/create" id="newflyerform" onsubmit="addflyer(); return false;">
          <input type="text" name="want" placeholder="What do you want to learn?"></input>
          <input type="hidden" name="uid"></input>
          <input type="submit" value="Add"></input>
        </form>
        <table>
          <thead>
            <tr>
              <td>Skill</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody id="skilllist">

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
