!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Homepage | Skill-Trade
  body
    #container
      #header
        #watermark
        select#menu
          option(value='flyerfeed') Flyer Feed
          option(value='newflyer') New Flyer
          option(value='matches') Matches
      #content
        input(type='button', value='Add')
        table
          thead
            tr
              td Picture
              td You Learn
              td They Learn
              td Contact Information
          tbody

