<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">

    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="watermark"></div>
        <select id="menu">
          <option value="flyerfeed">Flyer Feed</option>
          <option value="newflyer">New Flyer</option>
          <option value="matches">Matches</option>
        </select>
      </div>
      <div id="content">
        <input type="button" value="Add"></input>
        <table>
          <thead>
            <tr>
              <td>Picture</td>
              <td>You Learn</td>
              <td>They Learn</td>
              <td>Contact Information</td>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
