<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Homepage | Skill-Trade</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript">
      function getmatches(cb) {
        uid = window.location.substring(window.location.lastIndexOf('/') + 1);
        $.get( "/api/matches/" + uid, function( data ) {
          cb(data);
        });
      }
      function populatelist(matches) {
        var list = document.getElementById("matchlist");
        list.innerHTML = "";
        for (var i in matches) {
          var tr = document.createElement("tr");
          var td = document.createElement("td");
          var img = document.createElement("img");
          img.src = matches[i].their_user_photo;
          td.appendChild(img);
          tr.appendChild(td);
          td = document.createElement("td");
          td.innerHTML = matches[i].their_user_name;
          tr.appendChild(td);
          td = document.createElement("td");
          td.innerHTML = matches[i].my_want;
          tr.appendChild(td);
          td = document.createElement("td");
          td.innerHTML = matches[i].their_want;
          tr.appendChild(td);
          td = document.createElement("td");
          td.innerHTML = matches[i].their_user_contact;
          tr.appendChild(td);
          list.appendChild(tr);
        }
      }
    </script>
    
  </head>
  <body onload="getmatches(populatelist);">
    <div class="container">
      <div class="header pure-g">
        <div class="containerDiv watermark pure-u-1-5">Skill-Trade</div>
        <div class="pure-u-4-5">
          <ul id="menu">
            <li id="flyerfeed" onclick="window.location = 'index2.html';">Flyer Feed</li>
            <li id="newflyer" onclick="window.location = 'manageflyers.html';">Manage Flyers</li>
            <li id="matches" onclick="window.location = 'matches.html';">Matches</li>
          </ul>
        </div>
      </div>
      <div id="content">
        <input type="button" value="Add"></input>
        <table>
          <thead>
            <tr>
              <td>Picture</td>
              <td>Name</td>
              <td>You Learn</td>
              <td>They Learn</td>
              <td>Contact Information</td>
            </tr>
          </thead>
          <tbody id="matchlist">

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
