/*body {

}

.container{
	margin: 0 auto; 
	width: 850px;

}

.containerDiv{
	padding-top: 14px;
}



.header {

}

.header ul {
	list-style-type: none;
}

.header ul li {
	float:right;
	margin-left:15px;
}

#menu li {
	cursor: pointer;
}

.signin{
	float: right;
}

.watermark{

}*/

.img
	width 80px